html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Cinzel Decorative', cursive;
}
#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.audio-wrapper {
    position: fixed;
    float: left;
}
.audio-wrapper audio {
    opacity: 0;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header {
    line-height: 0.2em;
}

h1 {
    font-weight: bolder;
    color: #fff;
}
.secondaryTitle {
    color: #ccc;
    text-align: center;
}
.message {
    width: 60%;
    color: white;
    text-align: center;
    background-color: green;
}
.music-icon {
    color: white;
    font-size: 1.5em;
    margin: 50px;
}
/*
 * Styles for the deck of cards
 */

.deck {
    width: 900px;
    min-height: 680px;
    background: #02b3e4a1;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 8px 9px 26px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 120px;
    width: 120px;
    margin: 3px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -moz-transition: all .25s linear;
    -webkit-transition: all .25s linear;
    transition: all .25s linear;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.deck .card img {
  display: none;
}
.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}
.deck .card.open img{
    display: inline;
}
.deck .card.show {
    font-size: 33px;
}
.deck .card.disabled {
	pointer-events: none;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}
.deck .card.match img {
    display: inline;
}
.deck .card.unmatch {
	animation-name: pulse;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: .75s;
	background: #e2043b;
}
/* result stats */
.result-stats {
    text-align: center;
    margin: 10px 50px 10px 50px;
}
.result-stats span {
    font-weight: bold;
    font-size: 1.5em;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    color: white;
    text-align: left;
    width: 350px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.2em;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
    color: yellow;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}
.score-panel .timer {
    margin-left: 10%;
    font-weight: bold;
    color: #02b3e4;
    font-size: 1.2em;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}
/*   modal style */
.dialog {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}

.dialog:target {
	visibility: visible;
	opacity: 1;
}
.modal {
	margin: 70px auto;
	padding: 20px;
	background: #ffffff;
	border-radius: 5px;
	width: 85%;
	position: relative;
	transition: all 5s ease-in-out;
	font-family: 'Gloria Hallelujah', cursive;
}

.modal .close-btn {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}
.modal .modal-content {
    text-align: center;
}
.modal .modal-content .results-table {
    width: 100%;
}
.modal .close:hover {
	color: #02b3e4;
}

.modal .content-1,
.content-2 {
	max-height: 30%;
	overflow: auto;
	text-align: center;
}

.show {
	visibility: visible !important;
	opacity: 100 !important;
}